header{
    padding: 20px;
    background-color: rgb(189, 22, 86);
    text-align: center;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div{
    display: inline-block;
    padding: 0 10px;
}
img{
    width: 70px;
}