#sell{    
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #f5e0e8; 
    border: 2px solid #bd1656;
    color:#bd1656;
}
#sell:hover{
    background-color: #bd1656;  
    color:#fff;
}
form{
    width: 10%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
   
}
